{% extends 'layout.html' %}

{% block body %}
	<h2>Overview</h2>

	<div class="card-group">
		<div class="card">
		  <img style="width: 200px;">
		  <div class="card-body">
		    <h5 class="card-title">Average deal value for the last year</h5>
		    <p class="card-text">{{ avg_deal_value|format_amount }}</p>
		  </div>
		</div>
	</div>

	<h2>Deals per month</h2>

	<canvas id="dealsPerMonthChart"></canvas>

	<table class="table deals-per-month">
		<tr>
			<th>Month</th>
			<th>Number of deals</th>
		</tr>
	{% for entry in deals_per_month %}
	<tr>
		<td>{{entry.month}}</td>
		<td>{{entry.deals}}</td>
	</tr>
	{% endfor %}
	</table>

	<h2>Value per company</h2>

	<canvas id="valuePerCompanyChart"></canvas>

	<table class="table value-per-company">
		<tr>
			<th>No.</th>
			<th>Customer</th>
			<th>Value</th>
		</tr>
	{% for row in value_per_company %}
	<tr>
		<td>{{row.company}}</td>
		<td>{{row.company_name}}</td>
		<td>{{row.value|format_amount}}</td>
	</tr>
	{% endfor %}
	</table>

	<h2>Companies</h2>
	<table class="table">
		<tr>
			<th>No.</th>
			<th>Customer</th>
			<th>Old status</th>
			<th>New status</th>
		</tr>
	{% for row in updated_companies %}
	<tr>
		<td>{{row._id}}</td>
		<td>{{row.name}}</td>
		<td>{{row.buyingstatus.key}}</td>
		<td>{{row.new_status}}</td>
	</tr>
	{% endfor %}
	</table>

	<br>
{% endblock %}